<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-qingda-hikvision-pda" version="1.1.2" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>QingdaHikvisionPDA</name>
    <platform name="android">
        <dependency id="cordova-support-kotlin"/>
        <js-module name="QingdaHikvisionPDA" src="www/android/hikvision-pda.js">
            <clobbers target="cordova.plugins.qingda.hikvisionPDA"/>
        </js-module>
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="QingdaHikvisionPDA">
                <param name="android-package" value="qingda.cordova.HikvisionPDAPlugin"/>
                <param name="onload" value="false"/>
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
            <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/> -->
        </config-file>
        <framework src="com.android.support:appcompat-v7:26+" />
        <framework src="io.reactivex.rxjava2:rxjava:2.1.14" />
        <source-file src="src/android/HikvisionPDA.kt" target-dir="app/src/main/java/qingda/cordova"/>
        <source-file src="src/android/libs/Android_SDK_48D_V0.7.jar" target-dir="libs" />
        <source-file src="src/android/libs/armeabi/libhprt_printer_helper_cmd.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libhprt_printer_model.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libprt_serial_port.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libusb-1.0.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libwlt2bmp.so" target-dir="libs/armeabi" />
        <source-file src="src/android/libs/armeabi/libxml2.so" target-dir="libs/armeabi" />
    </platform>
</plugin>